<section class="content content_center">
  <ul class="content__content">
    <li class="item content__header">
      <h2>What we do to help our client grow in digital era,</h2>
    </li>
    <li class="item content__block">
      <div class="content__img">
        <img src="/assets/content/picture2.svg" alt="" />
      </div>
      <div class="content__block__info">
        <h3>Bring Technology To Your Comfrotable Home</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <button>Learn more -></button>
      </div>
    </li>
    <li class="item content__block">
      <div class="content__img">
        <img src="/assets/content/picture1.svg" alt="" />
      </div>
      <div class="content__block__info">
        <h3>Make Your business To Be Better Famous In Internet</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <button>Learn more -></button>
      </div>
    </li>
    <li class="item content__block">
      <div class="content__img">
        <img src="/assets/content/picture3.svg" alt="" />
      </div>
      <div class="content__block__info">
        <h3>Build Your Digital Product That Suitable For Your Need</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <button>Learn more -></button>
      </div>
    </li>
  </ul>
</section>
