<footer>
  <div class="footer">
    <div class="footer__connect">
      <div class="footer__description">
        <h2>Intersted to woek with our team?</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam.
        </p>
      </div>
      <button class="btn" id="openModalBtn">Let's talk</button>
    </div>
    <div class="footer__aboutUs">
      <div class="footer__logo">
        <img src="/assets/footer/logo_lighter.svg" alt="" />
        <h3>Afrianska</h3>
      </div>
      <h4>About US</h4>
      <h4>Follow US</h4>
      <p>A. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <p>About</p>
      <p>Instagram</p>
      <p>T. +62-812-7313-4321</p>
      <p>What We Do</p>
      <p>Facebook</p>
      <p>E hello.afrian@gmail.com</p>
      <p>Project</p>
      <p>LinkedIn</p>
      <p>2019 © Afrianska. All rights reserved.</p>
      <p>How It Work With Us</p>
      <p>Youtube</p>
    </div>
  </div>
</footer>
