@font-face {
  font-family: "Galien Regular";
  src: url("https://db.onlinewebfonts.com/t/d1243736bfe07b546f8f1e54e7804afb.eot");
  src: url("https://db.onlinewebfonts.com/t/d1243736bfe07b546f8f1e54e7804afb.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/d1243736bfe07b546f8f1e54e7804afb.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/d1243736bfe07b546f8f1e54e7804afb.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/d1243736bfe07b546f8f1e54e7804afb.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/d1243736bfe07b546f8f1e54e7804afb.svg#Galien Regular")
      format("svg");
}

.hero {
  --heroWidth: 100%;
  --heroBg: linear-gradient(
    to top,
    rgba(152, 195, 232, 0.3),
    rgba(152, 195, 232, 0)
  );
  --heroPadding: 11rem 0 0 0;
  --heroInfoGap: 2rem;
  --heroInfoH1FontSize: 8rem;
  --heroInfoPFontSize: 2rem;

  width: var(--heroWidth);
  background: var(--heroBg);
  padding: var(--heroPadding);

  @media (min-width: 360px) {
    --heroPadding: 6rem 0 0 0;
  }

  @media (min-width: 1024px) {
    --heroPadding: 11rem 0 0 0;
  }

  &__info {
    --heroInfoMaxWidth: 63.75rem;
    --heroInfoPadding: 11.25rem 0 0 0;
    --heroInfoLineHeight: 9.25rem;

    max-width: var(--heroInfoMaxWidth);
    height: 48.625rem;
    padding: var(--heroInfoPadding);
    gap: var(--heroInfoGap);
    display: flex;
    flex-direction: column;
    margin-right: -10rem;

    @media (min-width: 360px) {
      --heroInfoMaxWidth: 40rem;
      --heroInfoPadding: 6rem 0 0 0;
      --heroInfoLineHeight: 8rem;
      margin-right: 0;
    }

    @media (min-width: 1024px) {
      --heroInfoMaxWidth: 65rem;
      --heroInfoPadding: 0;
      --heroInfoLineHeight: 9.25rem;
      margin-right: -10rem;
    }

    h1 {
      font-family: "Galien Regular";
      font-size: var(--heroInfoH1FontSize);
      color: var(--colorDarkBlue);
      font-weight: 500;
      line-height: var(--heroInfoLineHeight);
      letter-spacing: 0.04em;

      @media (min-width: 360px) {
        --heroInfoH1FontSize: 6rem;
      }

      @media (min-width: 1024px) {
        --heroInfoH1FontSize: 8rem;
      }
    }

    p {
      max-width: 53.125rem;
      font-size: var(--heroInfoPFontSize);
      margin-bottom: 4rem;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 0.05em;
      color: #1f3f68;
      opacity: 0.6;

      @media (min-width: 360px) {
        --heroInfoPFontSize: 1.5rem;
      }

      @media (min-width: 1024px) {
        --heroInfoPFontSize: 2rem;
      }
    }
  }

  &__img {
    z-index: -1;

    @media (min-width: 360px) {
      max-width: 44rem;
    }

    @media (min-width: 1024px) {
      max-width: 86rem;
    }
  }
}

.container {
  width: 170.75rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;

  @media (min-width: 360px) {
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: 1024px) {
    flex-direction: row;
  }
}
